@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
}
.search-button {
  transition: 10ms all ease;
}
.swicth-button {
  transition: all ease 700ms;
}
.skeleton-loading {
  animation: skeleton-loading 1s linear infinite alternate;
}
@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  95% {
    background-color: hsl(200, 20%, 95%);
  }
}
.order-button {
  transition: all ease-in 400ms;
}
.checkout-icon {
  transition: all ease-in 400ms;
}
.banner-image {
  transition: all ease-in 700ms;
}
.search-go {
  transition: all ease-in 700ms;
}
.page-loading {
  animation: loading-ui 7s linear infinite;
}
@keyframes loading-ui {
  0% {
    width: 5%;
  }
  25% {
    width: 60%;
  }
  95% {
    width: 99%;
  }
}
