@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
}
.search-button {
  transition: 10ms all ease;
}
.swicth-button {
  transition: all ease 700ms;
}
.skeleton-loading {
  animation: skeleton-loading 1s linear infinite alternate;
}
@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  95% {
    background-color: hsl(200, 20%, 95%);
  }
}
.order-button {
  transition: all ease-in 400ms;
}
